.content {
  width: 85%;
  margin: 0 auto 15px;
}

header {
  margin: 15px 0 0 !important;
}

.level-input {
  text-align: center;
}

.badge-outline {
  width: 330px;
  float: left;
  height: 495px;
  margin-bottom: 60px;
}
.badge-outline svg {
  border: 2px solid #999;
}

.navbar {
  background-color: black;
}

.navbar ul li a {
  color: white;
  padding: 15px 0;
  border-right: 1px solid #fff;
}

.front-rotate {
  transform: translate(100px, -100px) rotate(-90deg);
  -webkit-transform: translate(100px, -100px) rotate(-90deg);
}

.back-rotate {
  transform: translate(-255px, 255px) rotate(-90deg);
  -webkit-transform: translate(-255px, 255px) rotate(-90deg);
}

@media (max-width: 1166px) {
  .back-rotate {
    transform: translate(100px, -250px) rotate(-90deg);
    -webkit-transform: translate(100px, -250px) rotate(-90deg);
  }
}

#helps .active {
  background-color: rgb(208, 255, 255);
}

#resist .image-container {
  border: 1px solid #303030;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.big-item {
  border: 3px solid #303030;
  border-radius: 15px;
}

#savebuttons {
  margin-top: 10px;
}