body {
  background: #ffffff;
  color: #333333;
  font-size: 14px;
  line-height: 1.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  width: 85%;
  margin: 0 auto 15px;
}

header {
  margin: 15px 0 0 !important;
}

nav, aside, header div, #details, #resist {
  display: none;
}

.badge-outline {
  float: left !important;
  width: 200px !important;
  height: 350px !important;
}

.badge-outline svg {
  border: 2px solid #999;
}
#front-svg, #back-svg {
  width: 188px !important;
  height: 282px !important;
}