<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="description" content="description">

<title>Badge Builder</title>

<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="css/kube.css">
<link rel="stylesheet" type="text/css" href="css/ingress.css">
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

<link rel="icon" href="images/favicon.ico" />

<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>

<style>
  @font-face {
    font-family: 'ua_cadetregular';
    src: url('fonts/ua_cadet-webfont.eot');
    src: url('fonts/ua_cadet-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ua_cadet-webfont.woff') format('woff'),
         url('fonts/ua_cadet-webfont.ttf') format('truetype'),
         url('fonts/ua_cadet-webfont.svg#ua_cadetregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'code_128regular';
    src: url('fonts/code128-webfont.eot');
    src: url('fonts/code128-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/code128-webfont.woff') format('woff'),
         url('fonts/code128-webfont.ttf') format('truetype'),
         url('fonts/code128-webfont.svg#code_128regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
</style>

<script type="text/javascript">
window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;window.analytics.methods.length>i;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
window.analytics.load("2ay473lvu4");
window.analytics.page('Ingress Badge Builder');
</script>

</head>

<body>

  <div class="content">

    <header class="units-row">
      <h1 class="unit-50">
        <svg id="shield" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 84 106" width="40px" height="50px" style="vertical-align: middle;">
          <g id="layer2" fill="#000">

            <path id="path4528" d="M42.281,8.8438c-4.888,11.156-20.274,11.26-31.937,11.094v45.343c0.275,10.895,14.82,24.469,31.937,30.375,17.118-5.906,31.662-19.48,31.938-30.375v-45.343c-11.663,0.166-27.05,0.062-31.938-11.094zm0,9.5622c3.813,8.702,15.809,8.755,24.907,8.625v35.375c-0.215,8.498-11.555,19.081-24.907,23.688-13.351-4.607-24.691-15.19-24.906-23.688v-35.375c9.097,0.13,21.094,0.077,24.906-8.625z"/>

            <path id="path4538" d="m357.43,514.15c2.9327,6.6938,12.159,6.7428,19.157,6.6429v27.214c-0.1652,6.5367-8.8868,14.67-19.157,18.214" transform="translate(-315.14285,-487.93359)"/>

          </g>
        </svg> Badge Builder</h1>
      <div class="unit-50 text-right" style="padding-top: 8px;">
        <div style="float:right; margin-right: 30px; padding-top: 5px;">
          <script data-gittip-username="traeblain" data-gittip-widget="button" src="http://gttp.co/v1.js"></script>
        </div>
        <h4 style="float:right; margin-right: 30px;"><a href="https://bitbucket.org/bttl/ingress-stuff/overview"><img src="images/bitbucket.png" /></a></h4>
      </div>
    </header>

    <nav class="navbar fullwidth">
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./badgebuilder.html" class="active">Badge Builder</a></li>
        <li><a href="http://bitbucket.org/bttl/">More</a></li>
        <li><a href="http://blog.traeblain.com/">Blog</a></li>
      </ul>
    </nav>

    <div id="badgeDisplay" class="units-row"></div>

    <script id="badgeTemplate" type="text/ractive">
      <aside id="data" class="unit-30">
        <form class="forms">
          <label>Agent Name <input placeholder="{{user}}" value="{{user}}" type="text"/></label>
          <label>Agent Level
            <span class="input-groups width-50">
              <span class="btn-prepend"><button class="btn" id="level-down" onclick="return false;">-</button></span>
              <input placeholder="{{level}}" value="{{level}}" type="number" min="0" max="8" step="1" class="level-input" id="level"/>
              <span class="btn-append"><button class="btn" id="level-up" onclick="return false;">+</button></span>
            </span>
          </label>
          <fieldset>
            <legend>Faction</legend>
            <lable><input type="radio" name="{{faction}}" value="RESISTANCE" checked /> Resistance</lable>&nbsp;&nbsp;
            <lable><input type="radio" name="{{faction}}" value="ENLIGHTENED" /> Enlightened</lable>
          </fieldset>
          <label>Cell <sup><a href="#cell" onclick="highlight('helps1'); return true;">[1]</a></sup> <input placeholder="{{cell}}" value="{{cell}}" type="text"/></label>
          <label>Community <input placeholder="{{community}}" value="{{community}}" type="text"/></label>
          <label>Link <sup><a href="#links" onclick="highlight('helps2'); return true;">[2]</a></sup> <input placeholder="{{link}}" value="{{link}}" type="text"/></label>
          <label>Community Image <sup><a href="#image" onclick="highlight('helps3'); return true;">[3]</a></sup> <input type="file" name="f_image" id="f_image" onchange="fSelected();" /></label>
          <label>QR Code <sup><a href="#qr" onclick="highlight('helps4'); return true;">[4]</a></sup> <input type="file" name="qr_code" id="qr_code" onchange="qrSelected();" /></label>
          <div class="btn btn-red btn-disabled" id="error">.png is only supported image type</div>
          <div class="btn btn-red btn-disabled" id="size">file is too big, &lt; 1MB allowed</div>
          <div class="group">
            <button id="rotate" class="btn btn-blue left" onclick="return false;">Rotate Badges</button>
            <button id="saveimage" class="btn btn-blue right">Save Badges</button>
          </div>
          <div id="savebuttons" class="group" style="display: none;">
            <h5>Select Badge Side to Save...</h5>
            <a id="savefront" class="btn btn-green width-40 left" download="front.png" href="">Save Front</a>
            <a id="saveback" class="btn btn-green width-40 right" download="back.png" href="">Save Back</a>
          </div>
        </form>
      </aside>

      <div id="badgegroup" class="unit-70">
        <section id="front" class="badge-outline" style="margin-right: 25px;">
          <svg id="front-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
            viewBox="0 0 330 495" preserveAspectRatio="xMidYMid slice"
            style="width:330px; top:0; left:0; z-index:1;">

            <g id="fbackground" fill="{{factioncolor}}">
              <path id="fbg-top" d="m15.993,311.86,0-268.33,27.543-27.543,272.77,0,0,327.86-78.188,0-32.43-32.43z"/>
              <path id="fbg-middle" d="m93.046,356.7,223.07,0,0,60.838-222.67,0z"/>
              <path id="fbg-bottom" d="m207.17,464.06-191.26,0,0-33.003,300.61,0,0,50.499-101,0z"/>
            </g>

            <g id="agent-name">
              <text id="agent-name-text" style="letter-spacing:0px;text-anchor:middle;word-spacing:0px;" font-weight="normal" xml:space="preserve" font-style="normal" font-stretch="normal" font-variant="normal" font-size="35px" y="66" x="165" font-family="Coda" fill="#000000"><tspan id="tspan5962">{{user}}</tspan></text>
            </g>

            <g id="agent-level">
              <g id="octobox" transform="translate(252,-434) scale(.75,.75)">

                <path id="path3336" fill="#FFF" transform="matrix(-0.34756349,-0.14396551,0.14396551,-0.34756349,35.865166,1037.3567)" stroke="{{factioncolor}}" stroke-linecap="round" stroke-miterlimit="4" stroke-dasharray="none" stroke-width="2.63157891999999990" d="M100,3.653E-7,141.42,100,100,200-4.8047E-7,241.42-100,200-141.42,100-100-3.1419E-7,4.8047E-7-41.421z"/>

                <rect id="rect4106" height="5.7143" width="31.964" y="955.93" x="34.28" fill="{{levelbars[0]}}"/>
                <rect id="rect4149" transform="matrix(-0.70710678,-0.70710678,0.70710678,-0.70710678,0,0)" height="5.7143" width="31.964" y="-632.66" x="-760.41" fill="{{levelbars[1]}}"/>
                <rect id="rect4106-1-4" transform="matrix(0,-1,1,0,0,0)" height="5.7143" width="31.964" y="90.982" x="-1018.6" fill="{{levelbars[2]}}"/>
                <rect id="rect4151" transform="matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)" height="5.7143" width="31.964" y="-790.94" x="657.48" fill="{{levelbars[3]}}"/>
                <rect id="rect4106-1" height="5.7143" width="31.964" y="1043.3" x="34.28" fill="{{levelbars[4]}}"/>
                <rect id="rect4147" transform="matrix(-0.70710678,-0.70710678,0.70710678,-0.70710678,0,0)" height="5.7143" width="31.964" y="-719.98" x="-760.41" fill="{{levelbars[5]}}"/>
                <rect id="rect4106-7" transform="matrix(0,-1,1,0,0,0)" height="5.7143" width="31.964" y="3.6608" x="-1018.6" fill="{{levelbars[6]}}"/>
                <rect id="rect4153" transform="matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)" height="5.7143" width="31.964" y="-703.62" x="657.48" fill="{{levelbars[7]}}"/>

                <path id="path4163" fill="{{levelbars[8]}}" d="m34.934,962.36,1.3038,3.3125,29.321,0,0.03032-0.0625,0-1.4688-14.827,0,0-1.7812-15.828,0z"/>
                <path id="path4214" d="m67.707,963.24-1.4204,3.2642,20.733,20.733,0.066-0.023,1.0386-1.0386-10.485-10.484,1.2596-1.2595-11.192-11.192z" fill="{{levelbars[9]}}"/>
                <path id="path4208" fill="{{levelbars[10]}}" d="m90.261,987.03-3.3125,1.3038,0,29.321,0.062,0.03,1.4687,0,0-14.827,1.7813,0,0-15.828z"/>
                <path id="path4210" fill="{{levelbars[11]}}" d="m89.384,1019.8-3.2642-1.4204-20.733,20.733,0.023,0.066,1.0386,1.0386,10.484-10.485,1.2595,1.2596,11.192-11.192z"/>
                <path id="path4192" fill="{{levelbars[12]}}" d="m65.589,1042.4-1.3038-3.3125-29.321,0-0.03032,0.062,0,1.4687,14.827,0,0,1.7813,15.828,0z"/>
                <path id="path4216" fill="{{levelbars[13]}}" d="m32.815,1041.5,1.4203-3.2642-20.733-20.733-0.0651,0.023-1.0385,1.0386,10.485,10.484-1.2596,1.2596,11.192,11.192z"/>
                <path id="path4206" d="m10.262,1017.7,3.3125-1.3038,0-29.321-0.0625-0.0303-1.4688,0,0,14.827-1.7812,0,0,15.828z" fill="{{levelbars[14]}}"/>
                <path id="path4212" fill="{{levelbars[15]}}" d="m11.139,984.92,3.2642,1.4203,20.733-20.733-0.0226-0.0651-1.0385-1.0385-10.485,10.485-1.2596-1.2596-11.192,11.192z"/>
              </g>


              <text id="agent-level-number" fill="{{leveltxt}}" height="49.704" width="44.932" y="338" x="288" style="text-anchor: middle; font-size: 50px; font-family: 'ua_cadetregular'; text-align: center;">{{level}}</text>
            </g>

            <g id="ingress">
              <g transform="matrix(0.02842702,0,0,0.02842702,24.482671,358.45297)">
                <polygon fill="#09AEED" points="1024,2039.496 144.555,1531.75 144.555,516.252 1024,8.504 1903.445,516.252 1903.445,1531.746"/>
                <polygon fill="#75D2F5" points="1024,105.053 455.428,433.318 455.428,433.318 1125.801,965.229 1196.789,1843.188 1819.832,1483.473 1819.832,564.525"/>
                <path fill="#FFFFFF" d="M1542.449,724.676H505.555l518.447,897.977L1542.449,724.676z M1070,1358.98v-308.422l267.102-154.211
                  L1070,1358.98z M1291.102,816.676l-267.098,154.211L756.902,816.676H1291.102z M710.902,896.35l267.1,154.209v308.422
                  L710.902,896.35z"/>
                <path fill="#FFFFFF" d="M1024.002,200.504l-713.17,411.75v823.496l713.17,411.75l713.17-411.75V612.254L1024.002,200.504z
                   M1403.586,1190.039l-46,79.676l241.586,139.48l-575.17,332.074l-575.17-332.074l241.586-139.48l-46-79.676l-241.586,139.48
                  v-664.15l575.17-332.074v278.959H1070V333.293l575.172,332.076v664.15L1403.586,1190.039z"/>
              </g>
            </g>

            <g id="ffaction">
              <text id="ffaction-text" style="letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" transform="{{factionTranslate}} {{factionScale}}" font-style="normal" font-stretch="normal" font-size="37px" font-variant="normal" y="372" x="115" line-height="125%" fill="#000000" font-family="Coda">{{faction}}</text>
            </g>

            <g id="fmember">
              <text id="fmember-text" style="letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" transform="scale(1.0823572,0.9239094)" font-style="normal" font-stretch="normal" font-size="13.3px" font-variant="normal" y="517" x="216" font-family="Coda" line-height="125%" fill="#000000">MEMBER</text>
            </g>

            <g id="fcell">
              <text id="fcell-text" y="480" x="15" style="text-align: start; text-anchor: start; font-size: 16px; font-family: Coda;">CELL: {{cell}}</text>
            </g>

            <g id="fcommunity">
              <text id="fcommunity-text" style="letter-spacing:0px;text-anchor:middle;word-spacing:0px;text-align:center;text-transform: uppercase;" xml:space="preserve" transform="scale(1.0255601,0.97507693)" font-size="20px" y="467" x="165" font-family="Coda" font-weight="800">{{community}}</text>
            </g>

            <g id="barcode">
              <text id="barcode-text" style="letter-spacing:0px;text-anchor:start;text-align:start;word-spacing:0px;" font-family="code_128regular" font-weight="normal" xml:space="preserve" transform="scale(1.1488628,0.87042597)" font-style="normal" font-stretch="normal" font-size="47px" y="403" x="15" fill="#000000">{{userTail}}</text>
            </g>

            <g id="fbadge-image" transform="translate(77,60) scale(0.25,0.25)" display="{{resistDisplay}}">
              <g>
                <polygon points="105,618.236 105,95.833 335.722,95.833 296.669,127.833 136.75,127.833 136.75,603.855 360,811.949
                  583.25,603.855 583.25,127.833 423.33,127.833 384.278,95.833 615.001,95.833 615.001,618.236 360,855.926        "/>
                <path fill="#83CDEF" d="M613.501,97.333v520.25L360,853.875L106.5,617.584V97.333h225.025l-35.391,29H135.25v478.174L360,814
                  l224.75-209.492V126.333H423.866l-35.391-29H613.501 M616.501,94.333h-3H388.476h-8.395l6.493,5.32l35.391,29l0.829,0.68h1.072
                  H581.75v473.87L360,809.898L138.25,603.203v-473.87h157.883h1.072l0.829-0.68l35.391-29l6.493-5.32h-8.395H106.5h-3v3v520.25
                  v1.305l0.955,0.89l253.5,236.291l2.045,1.907l2.046-1.907l253.501-236.291l0.954-0.89v-1.305V97.333V94.333L616.501,94.333z"/>
              </g>
              <g>
                <path d="M332.25,729.293V668.5h-24.895v37.588l-88.302-82.308V523.25H304V568h-36v25.5h64.25V427h-25v-31.5h25v-19.667H307.5
                  v-13.63l-137.334-103.79V165.5h143.883L360,129.256l45.951,36.244h143.883v92.913L412.5,362.203v13.63h-24.75V395.5h25V427h-25
                  v302.293L360,755.159L332.25,729.293z M313.066,314.359l46.935-13.251l46.934,13.251l101.143-76.439V207.5H406.556L360,256.318
                  L313.445,207.5H211.923v30.42L313.066,314.359z M360,217.702l28.777-30.176L360,164.827l-28.777,22.698L360,217.702z"/>
                <path fill="#83CDEF" d="M360,131.167L405.431,167h142.903v90.667L411,361.457v12.877h-24.75V397h25v28.5h-25v303.141
                  L360,753.108l-26.25-24.468V667h-27.895v35.64l-85.302-79.512V524.75H302.5v41.75h-36V595h67.25V425.5h-25V397h25v-22.667H309
                  v-12.877l-137.334-103.79V167h142.903L360,131.167 M360,219.875l31-32.507l-31-24.452l-31,24.452L360,219.875 M360,254.145
                  L314.087,206H210.423v32.667l102.333,77.338l47.245-13.338l47.243,13.338l102.333-77.338V206H405.913L360,254.145 M360,127.346
                  l-1.858,1.465L313.528,164H171.666h-3v3v90.667v1.493l1.191,0.9L306,362.95v11.384v3h3h21.75V394h-22h-3v3v28.5v3h3h22V592
                  H269.5v-22.5h33h3v-3v-41.75v-3h-3h-81.947h-3v3v98.378v1.305l0.955,0.89l85.302,79.512l5.045,4.703v-6.897V670h21.895v58.641
                  v1.305l0.955,0.89l26.25,24.468L360,757.21l2.046-1.907l26.25-24.468l0.954-0.89v-1.305V428.5h22h3v-3V397v-3h-3h-22v-16.667
                  H411h3v-3V362.95l136.143-102.89l1.191-0.9v-1.493V167v-3h-3H406.472l-44.614-35.189L360,127.346L360,127.346z M333.445,187.683
                  L360,166.737l26.555,20.945L360,215.528L333.445,187.683L333.445,187.683z M407.197,209h99.38v28.174l-99.952,75.539
                  l-45.809-12.933l-0.815-0.23l-0.815,0.23l-45.81,12.934l-99.953-75.54V209h99.379l45.026,47.215l2.171,2.277l2.171-2.277
                  L407.197,209L407.197,209z"/>
              </g>
            </g>

            <g id="fbadge-image-e" transform="translate(88,75) scale(0.22,0.22)" display="{{enlightDisplay}}">
              <g>
                <path d="M412.026,249.433c-26.797-8.847-55.611-17.663-84.758-22.221L326,227.014V22.836L455.259,128.5l-21.474,62.326
                  l-12.928-8.619l6.51-38.059L364,96.504l0.002,110.204c15.367,5.52,33.608,14.503,54.238,26.713l1.082,0.64l-5.926,15.823
                  L412.026,249.433z"/>
                <path fill="#80F852" d="M327.5,26l126,103L433,188.5l-10.5-7l6.5-38l-66.5-50l0.002,114.267
                  c17.873,6.295,37.606,16.667,54.975,26.946l-4.979,13.296C387.749,239.838,358,230.5,327.5,225.73V26 M324.5,19.673V26v199.73
                  v2.567l2.537,0.396c29.04,4.542,57.784,13.336,84.52,22.164l2.738,0.904l1.012-2.701l4.979-13.296l0.882-2.354l-2.163-1.28
                  c-20.27-11.997-38.257-20.896-53.503-26.475L365.5,99.509l60.234,45.289l-6.191,36.196l-0.328,1.921l1.621,1.081l10.5,7
                  l3.234,2.156l1.266-3.675l20.5-59.5l0.682-1.977l-1.619-1.323l-126-103L324.5,19.673L324.5,19.673z"/>
              </g>
              <g>
                <path d="M547.259,319.694c-25.989-19.739-81.686-56.073-82.245-56.438l-1.233-0.804l49.361-78.874l115.319,96.328l-1.892,1.066
                  c-0.379,0.214-38.354,21.57-77.8,38.9l-0.808,0.354L547.259,319.694z M497.058,253.353c6.387,4.885,37.774,28.895,53.299,40.691
                  c20.159-9.29,37.283-17.674,43.059-20.522l-70.118-57.341L497.058,253.353z"/>
                <path fill="#80F852" d="M513.5,185.833l112.333,93.833c0,0-37.833,21.333-77.667,38.833c-26.333-20-82.333-56.5-82.333-56.5
                  L513.5,185.833 M550.166,295.783c25.443-11.708,46-21.95,46-21.95L523,214l-28,39.667
                  C495,253.667,533.05,282.783,550.166,295.783 M512.782,181.325l-1.825,2.917l-47.667,76.167l-1.562,2.497l2.468,1.608
                  c0.559,0.365,56.211,36.67,82.156,56.376l1.405,1.067l1.616-0.71c39.514-17.359,77.554-38.752,77.934-38.966l3.781-2.132
                  l-3.332-2.783l-112.333-93.833L512.782,181.325L512.782,181.325z M499.116,253.039l24.478-34.678l67.065,54.845
                  c-7.063,3.468-22.355,10.904-40.112,19.099C535.598,280.941,507.334,259.325,499.116,253.039L499.116,253.039z"/>
              </g>
              <g>
                <path d="M461.084,446.792l1.293-0.638c23.485-11.585,35.604-19.591,51.868-34.269l0.696-0.628l79.222,31.998l-76.087,131.541
                  L461.084,446.792z M528.602,522.895l37.262-63.102l-38.452-17.703c-7.179,8.414-16.623,16.337-26.815,22.496L528.602,522.895z"
                  />
                <path fill="#80F852" d="M515.25,413L592,444l-73.75,127.5l-55.209-124C487.875,435.25,499.875,426.875,515.25,413
                   M528.465,526.075L568,459.125l-41-18.875c-7.375,8.875-17.5,17.375-28.35,23.75L528.465,526.075 M514.634,409.516l-1.394,1.257
                  c-14.274,12.881-25.625,21.26-51.526,34.037l-2.587,1.276l1.174,2.635l55.209,124l2.392,5.373l2.945-5.092l73.75-127.5
                  l1.729-2.99l-3.203-1.294l-76.75-31L514.634,409.516L514.634,409.516z M502.535,465.158c9.533-5.919,18.37-13.342,25.273-21.233
                  l35.919,16.536l-34.99,59.253L502.535,465.158L502.535,465.158z"/>
              </g>
              <g>
                <path d="M337,481.367l1.379-0.112c31.06-2.52,54.349-7.132,77.873-15.419l1.516-0.535l9.984,36.16l-0.992,0.583
                  c-19.458,11.424-42.739,13.711-48.76,14.123v295.601l73.902-118.291l-25.613-115.009l18.924-10.19l36.151,136.459L337,940.573
                  V481.367z"/>
                <path fill="#80F852" d="M416.75,467.25l9.25,33.5c-22,12.917-49.5,14-49.5,14V817l77-123.25L428,579.25l16.25-8.75l35.5,134
                  L338.5,935.25v-452.5C370.334,480.167,393.334,475.5,416.75,467.25 M418.786,463.352l-3.033,1.068
                  c-23.396,8.243-46.571,12.83-77.496,15.339l-2.757,0.224v2.767v452.5v10.647l5.559-9.081l141.25-230.75l0.67-1.095l-0.328-1.24
                  l-35.5-134l-0.975-3.676l-3.348,1.803l-16.25,8.75l-2,1.077l0.493,2.217l25.233,113.301L379.5,806.536v-288.98
                  c7.762-0.653,29.574-3.389,48.019-14.219l1.986-1.166l-0.613-2.22l-9.25-33.5L418.786,463.352L418.786,463.352z"/>
              </g>
              <g>
                <path d="M150.994,388.294c-26.479-6.162-57.711-28.015-58.024-28.234l-3.694-2.602l4.517-0.124
                  c0.239-0.006,23.64-0.653,29.452-1.295c10.493-5.048,18.498-9.684,27.755-15.045c8.949-5.183,19.092-11.057,33.812-18.66
                  c5.521-2.852,10.892-5.762,16.086-8.577c30.659-16.614,59.617-32.308,112.953-32.308c3.638,0,7.408,0.074,11.207,0.219
                  c64.49,2.462,87.303,14.136,118.878,30.293c2.777,1.421,5.624,2.878,8.574,4.366c23.055,11.633,46.696,24.995,68.398,38.657
                  c1.292-0.039,3.597-0.059,6.869-0.059c6.305,0,14.158,0.074,14.236,0.074l3.097,0.029l-1.942,2.412
                  c-0.431,0.535-10.811,13.227-32.557,22.929l-0.547,0.244l-0.565-0.2c-9.066-3.209-16.979-6.902-27.93-12.014
                  c-11.894-5.551-26.694-12.459-49.638-21.845c-42.366-17.332-78.68-20.032-108.616-20.388c-2.087-0.025-4.3-0.044-6.631-0.044
                  c-24.145,0-60.47,2.147-97.005,20.714c-18.042,9.169-30.882,17.909-42.211,25.62c-9.087,6.186-16.936,11.528-25.474,15.722
                  l-0.48,0.236L150.994,388.294z"/>
                <path fill="#80F852" d="M313.85,282.95c3.597,0,7.318,0.071,11.15,0.217c69.833,2.667,90.5,16.167,126.834,34.5
                  c34.471,17.393,60.999,34,68.666,38.833c1.277-0.056,4.092-0.074,7.277-0.074c6.37,0,14.223,0.074,14.223,0.074
                  s-10.334,12.833-32,22.5c-18.833-6.667-33.5-15.833-77.5-33.833s-81.167-20.167-109.167-20.5
                  c-2.093-0.025-4.312-0.044-6.649-0.044c-24.095,0-60.614,2.038-97.684,20.877c-32.626,16.581-48.667,32-67.667,41.333
                  c-26.5-6.167-57.5-28-57.5-28s24.333-0.667,29.833-1.333c20.833-10,31.763-18.302,61.833-33.833
                  C223.621,303.977,251.903,282.95,313.85,282.95 M313.85,279.95c-53.716,0-82.836,15.781-113.667,32.488
                  c-5.188,2.812-10.552,5.718-16.06,8.563c-14.752,7.62-24.912,13.504-33.875,18.695c-9.162,5.306-17.093,9.899-27.42,14.879
                  c-6.123,0.625-28.84,1.253-29.076,1.26l-9.034,0.248l7.389,5.204c1.285,0.905,31.786,22.242,58.547,28.469l1.042,0.243
                  l0.96-0.472c8.633-4.241,16.522-9.611,25.656-15.829c11.292-7.686,24.089-16.397,42.047-25.523
                  c36.248-18.421,72.334-20.551,96.325-20.551c1.995,0,4.097,0.014,6.614,0.044c29.794,0.354,65.933,3.04,108.066,20.276
                  c22.909,9.372,37.692,16.272,49.57,21.816c10.989,5.129,18.93,8.834,28.064,12.068l1.129,0.399l1.095-0.488
                  c22.072-9.848,32.674-22.811,33.114-23.358l3.884-4.823l-6.192-0.059c-0.079,0-7.939-0.074-14.251-0.074
                  c-2.969,0-5.099,0.016-6.455,0.047c-21.636-13.603-45.177-26.899-68.137-38.484c-2.947-1.487-5.791-2.942-8.566-4.363
                  c-31.747-16.245-54.684-27.981-119.505-30.457C321.297,280.023,317.507,279.95,313.85,279.95L313.85,279.95z"/>
              </g>
              <g>
                <path d="M330.745,432.5c-72.857-0.26-122.829-32.921-123.325-33.251l-1.812-1.204l1.77-1.265
                  c0.243-0.174,24.544-17.511,44.872-29.246l1.026-0.592l0.814,0.86c0.304,0.321,30.81,32.082,70.147,32.082
                  c0.899,0,1.799-0.016,2.708-0.05c41.9-1.543,71.832-32.879,72.129-33.195l0.729-0.775l56.285,24.957l-2.01,1.537
                  c-0.525,0.401-53.298,40.143-122.676,40.143L330.745,432.5z"/>
                <path fill="#80F852" d="M400.167,367.667l53,23.5c0,0-52.092,39.834-121.765,39.834c-0.218,0-0.435,0-0.652-0.001
                  c-73.25-0.262-122.5-33-122.5-33s24.25-17.333,44.75-29.167c0,0,30.761,32.551,71.237,32.551c0.917,0,1.836-0.017,2.763-0.051
                  C370,399.75,400.167,367.667,400.167,367.667 M399.438,364.062l-1.456,1.548l0,0c-0.294,0.312-29.883,31.208-71.093,32.725
                  c-0.879,0.032-1.771,0.049-2.652,0.049c-38.735,0-68.758-31.295-69.057-31.611l-1.627-1.722l-2.053,1.185
                  c-20.39,11.77-44.751,29.15-44.995,29.324l-3.54,2.53l3.624,2.409c0.514,0.341,12.837,8.463,34.37,16.705
                  c19.822,7.587,51.488,16.66,89.78,16.796l0.663,0.001c36.531,0,68.16-10.979,88.26-20.189
                  c21.787-9.984,34.784-19.847,35.327-20.262l4.021-3.074l-4.627-2.052l-53-23.5L399.438,364.062L399.438,364.062z"/>
              </g>
            </g>

            <g id="f_image">
              <image id="image5996" xlink:href="{{f_image}}" height="200" width="200" y="75" x="66" display="{{fimageDisplay}}" />
            </g>
          </svg>
        </section>

        <section id="back" class="badge-outline">
          <svg id="back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
            viewBox="0 0 330 495" preserveAspectRatio="xMidYMid slice"
            style="width:330px; top:0; left:0; z-index:1;">

            <g id="bbackground" fill="{{factioncolor}}">
              <path id="bbg-top" d="m316.43,43.536-27.543-27.543-272.77,0,0,327.86,300.21,0s0.10317-300.22,0.10317-300.31z"/>
              <path id="bbg-middle" d="m239.37,356.7-223.07,0,0,60.838,222.67,0z"/>
              <path id="bbg-bottom" d="m125.25,464.06,191.26,0,0-33.003-300.61,0,0,50.499,101,0z"/>
            </g>

            <g id="bfaction">
              <text id="bfaction-text" style="letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" transform="{{factionScale}}" font-style="normal" font-stretch="normal" font-size="37.06254959px" font-variant="normal" y="371.77274" x="33" line-height="125%" fill="#000000" font-family="Coda">{{faction}}</text>
            </g>

            <g id="bmember">
              <text id="bmember-text" style="letter-spacing:0px;text-anchor:start;word-spacing:0px;text-align:start;" font-weight="normal" xml:space="preserve" transform="scale(1.0823572,0.9239094)" font-style="normal" font-stretch="normal" font-size="13.29533672px" font-variant="normal" y="516.48572" x="35.68086" font-family="Coda" line-height="125%" fill="#000000">MEMBER</text>
            </g>

            <g id="bcell">
              <text id="bcell-text" y="480" x="317" style="text-align: start; text-anchor: start; font-size: 16px; font-family: Coda; text-anchor: end;">CELL: {{cell}}</text>
            </g>

            <g id="bcommunity">
              <text id="bcommunity-text" style="letter-spacing:0px;text-anchor:middle;word-spacing:0px;text-align:center;text-transform: uppercase;" xml:space="preserve" transform="scale(1.0255601,0.97507693)" font-size="20.51120186px" y="467" x="165" font-family="Coda" font-weight="800">{{community}}</text>
            </g>

            <g id="bbadge-image" transform="translate(250,350) scale(0.08,0.08)" display="{{resistDisplay}}">
              <g>
                <polygon points="105,618.236 105,95.833 335.722,95.833 296.669,127.833 136.75,127.833 136.75,603.855 360,811.949
                  583.25,603.855 583.25,127.833 423.33,127.833 384.278,95.833 615.001,95.833 615.001,618.236 360,855.926        "/>
                <path fill="#83CDEF" d="M613.501,97.333v520.25L360,853.875L106.5,617.584V97.333h225.025l-35.391,29H135.25v478.174L360,814
                  l224.75-209.492V126.333H423.866l-35.391-29H613.501 M616.501,94.333h-3H388.476h-8.395l6.493,5.32l35.391,29l0.829,0.68h1.072
                  H581.75v473.87L360,809.898L138.25,603.203v-473.87h157.883h1.072l0.829-0.68l35.391-29l6.493-5.32h-8.395H106.5h-3v3v520.25
                  v1.305l0.955,0.89l253.5,236.291l2.045,1.907l2.046-1.907l253.501-236.291l0.954-0.89v-1.305V97.333V94.333L616.501,94.333z"/>
              </g>
              <g>
                <path d="M332.25,729.293V668.5h-24.895v37.588l-88.302-82.308V523.25H304V568h-36v25.5h64.25V427h-25v-31.5h25v-19.667H307.5
                  v-13.63l-137.334-103.79V165.5h143.883L360,129.256l45.951,36.244h143.883v92.913L412.5,362.203v13.63h-24.75V395.5h25V427h-25
                  v302.293L360,755.159L332.25,729.293z M313.066,314.359l46.935-13.251l46.934,13.251l101.143-76.439V207.5H406.556L360,256.318
                  L313.445,207.5H211.923v30.42L313.066,314.359z M360,217.702l28.777-30.176L360,164.827l-28.777,22.698L360,217.702z"/>
                <path fill="#83CDEF" d="M360,131.167L405.431,167h142.903v90.667L411,361.457v12.877h-24.75V397h25v28.5h-25v303.141
                  L360,753.108l-26.25-24.468V667h-27.895v35.64l-85.302-79.512V524.75H302.5v41.75h-36V595h67.25V425.5h-25V397h25v-22.667H309
                  v-12.877l-137.334-103.79V167h142.903L360,131.167 M360,219.875l31-32.507l-31-24.452l-31,24.452L360,219.875 M360,254.145
                  L314.087,206H210.423v32.667l102.333,77.338l47.245-13.338l47.243,13.338l102.333-77.338V206H405.913L360,254.145 M360,127.346
                  l-1.858,1.465L313.528,164H171.666h-3v3v90.667v1.493l1.191,0.9L306,362.95v11.384v3h3h21.75V394h-22h-3v3v28.5v3h3h22V592
                  H269.5v-22.5h33h3v-3v-41.75v-3h-3h-81.947h-3v3v98.378v1.305l0.955,0.89l85.302,79.512l5.045,4.703v-6.897V670h21.895v58.641
                  v1.305l0.955,0.89l26.25,24.468L360,757.21l2.046-1.907l26.25-24.468l0.954-0.89v-1.305V428.5h22h3v-3V397v-3h-3h-22v-16.667
                  H411h3v-3V362.95l136.143-102.89l1.191-0.9v-1.493V167v-3h-3H406.472l-44.614-35.189L360,127.346L360,127.346z M333.445,187.683
                  L360,166.737l26.555,20.945L360,215.528L333.445,187.683L333.445,187.683z M407.197,209h99.38v28.174l-99.952,75.539
                  l-45.809-12.933l-0.815-0.23l-0.815,0.23l-45.81,12.934l-99.953-75.54V209h99.379l45.026,47.215l2.171,2.277l2.171-2.277
                  L407.197,209L407.197,209z"/>
              </g>
            </g>

            <g id="fbadge-image-e" transform="translate(257,357) scale(0.06,0.06)" display="{{enlightDisplay}}">
              <g>
                <path d="M412.026,249.433c-26.797-8.847-55.611-17.663-84.758-22.221L326,227.014V22.836L455.259,128.5l-21.474,62.326
                  l-12.928-8.619l6.51-38.059L364,96.504l0.002,110.204c15.367,5.52,33.608,14.503,54.238,26.713l1.082,0.64l-5.926,15.823
                  L412.026,249.433z"/>
                <path fill="#80F852" d="M327.5,26l126,103L433,188.5l-10.5-7l6.5-38l-66.5-50l0.002,114.267
                  c17.873,6.295,37.606,16.667,54.975,26.946l-4.979,13.296C387.749,239.838,358,230.5,327.5,225.73V26 M324.5,19.673V26v199.73
                  v2.567l2.537,0.396c29.04,4.542,57.784,13.336,84.52,22.164l2.738,0.904l1.012-2.701l4.979-13.296l0.882-2.354l-2.163-1.28
                  c-20.27-11.997-38.257-20.896-53.503-26.475L365.5,99.509l60.234,45.289l-6.191,36.196l-0.328,1.921l1.621,1.081l10.5,7
                  l3.234,2.156l1.266-3.675l20.5-59.5l0.682-1.977l-1.619-1.323l-126-103L324.5,19.673L324.5,19.673z"/>
              </g>
              <g>
                <path d="M547.259,319.694c-25.989-19.739-81.686-56.073-82.245-56.438l-1.233-0.804l49.361-78.874l115.319,96.328l-1.892,1.066
                  c-0.379,0.214-38.354,21.57-77.8,38.9l-0.808,0.354L547.259,319.694z M497.058,253.353c6.387,4.885,37.774,28.895,53.299,40.691
                  c20.159-9.29,37.283-17.674,43.059-20.522l-70.118-57.341L497.058,253.353z"/>
                <path fill="#80F852" d="M513.5,185.833l112.333,93.833c0,0-37.833,21.333-77.667,38.833c-26.333-20-82.333-56.5-82.333-56.5
                  L513.5,185.833 M550.166,295.783c25.443-11.708,46-21.95,46-21.95L523,214l-28,39.667
                  C495,253.667,533.05,282.783,550.166,295.783 M512.782,181.325l-1.825,2.917l-47.667,76.167l-1.562,2.497l2.468,1.608
                  c0.559,0.365,56.211,36.67,82.156,56.376l1.405,1.067l1.616-0.71c39.514-17.359,77.554-38.752,77.934-38.966l3.781-2.132
                  l-3.332-2.783l-112.333-93.833L512.782,181.325L512.782,181.325z M499.116,253.039l24.478-34.678l67.065,54.845
                  c-7.063,3.468-22.355,10.904-40.112,19.099C535.598,280.941,507.334,259.325,499.116,253.039L499.116,253.039z"/>
              </g>
              <g>
                <path d="M461.084,446.792l1.293-0.638c23.485-11.585,35.604-19.591,51.868-34.269l0.696-0.628l79.222,31.998l-76.087,131.541
                  L461.084,446.792z M528.602,522.895l37.262-63.102l-38.452-17.703c-7.179,8.414-16.623,16.337-26.815,22.496L528.602,522.895z"
                  />
                <path fill="#80F852" d="M515.25,413L592,444l-73.75,127.5l-55.209-124C487.875,435.25,499.875,426.875,515.25,413
                   M528.465,526.075L568,459.125l-41-18.875c-7.375,8.875-17.5,17.375-28.35,23.75L528.465,526.075 M514.634,409.516l-1.394,1.257
                  c-14.274,12.881-25.625,21.26-51.526,34.037l-2.587,1.276l1.174,2.635l55.209,124l2.392,5.373l2.945-5.092l73.75-127.5
                  l1.729-2.99l-3.203-1.294l-76.75-31L514.634,409.516L514.634,409.516z M502.535,465.158c9.533-5.919,18.37-13.342,25.273-21.233
                  l35.919,16.536l-34.99,59.253L502.535,465.158L502.535,465.158z"/>
              </g>
              <g>
                <path d="M337,481.367l1.379-0.112c31.06-2.52,54.349-7.132,77.873-15.419l1.516-0.535l9.984,36.16l-0.992,0.583
                  c-19.458,11.424-42.739,13.711-48.76,14.123v295.601l73.902-118.291l-25.613-115.009l18.924-10.19l36.151,136.459L337,940.573
                  V481.367z"/>
                <path fill="#80F852" d="M416.75,467.25l9.25,33.5c-22,12.917-49.5,14-49.5,14V817l77-123.25L428,579.25l16.25-8.75l35.5,134
                  L338.5,935.25v-452.5C370.334,480.167,393.334,475.5,416.75,467.25 M418.786,463.352l-3.033,1.068
                  c-23.396,8.243-46.571,12.83-77.496,15.339l-2.757,0.224v2.767v452.5v10.647l5.559-9.081l141.25-230.75l0.67-1.095l-0.328-1.24
                  l-35.5-134l-0.975-3.676l-3.348,1.803l-16.25,8.75l-2,1.077l0.493,2.217l25.233,113.301L379.5,806.536v-288.98
                  c7.762-0.653,29.574-3.389,48.019-14.219l1.986-1.166l-0.613-2.22l-9.25-33.5L418.786,463.352L418.786,463.352z"/>
              </g>
              <g>
                <path d="M150.994,388.294c-26.479-6.162-57.711-28.015-58.024-28.234l-3.694-2.602l4.517-0.124
                  c0.239-0.006,23.64-0.653,29.452-1.295c10.493-5.048,18.498-9.684,27.755-15.045c8.949-5.183,19.092-11.057,33.812-18.66
                  c5.521-2.852,10.892-5.762,16.086-8.577c30.659-16.614,59.617-32.308,112.953-32.308c3.638,0,7.408,0.074,11.207,0.219
                  c64.49,2.462,87.303,14.136,118.878,30.293c2.777,1.421,5.624,2.878,8.574,4.366c23.055,11.633,46.696,24.995,68.398,38.657
                  c1.292-0.039,3.597-0.059,6.869-0.059c6.305,0,14.158,0.074,14.236,0.074l3.097,0.029l-1.942,2.412
                  c-0.431,0.535-10.811,13.227-32.557,22.929l-0.547,0.244l-0.565-0.2c-9.066-3.209-16.979-6.902-27.93-12.014
                  c-11.894-5.551-26.694-12.459-49.638-21.845c-42.366-17.332-78.68-20.032-108.616-20.388c-2.087-0.025-4.3-0.044-6.631-0.044
                  c-24.145,0-60.47,2.147-97.005,20.714c-18.042,9.169-30.882,17.909-42.211,25.62c-9.087,6.186-16.936,11.528-25.474,15.722
                  l-0.48,0.236L150.994,388.294z"/>
                <path fill="#80F852" d="M313.85,282.95c3.597,0,7.318,0.071,11.15,0.217c69.833,2.667,90.5,16.167,126.834,34.5
                  c34.471,17.393,60.999,34,68.666,38.833c1.277-0.056,4.092-0.074,7.277-0.074c6.37,0,14.223,0.074,14.223,0.074
                  s-10.334,12.833-32,22.5c-18.833-6.667-33.5-15.833-77.5-33.833s-81.167-20.167-109.167-20.5
                  c-2.093-0.025-4.312-0.044-6.649-0.044c-24.095,0-60.614,2.038-97.684,20.877c-32.626,16.581-48.667,32-67.667,41.333
                  c-26.5-6.167-57.5-28-57.5-28s24.333-0.667,29.833-1.333c20.833-10,31.763-18.302,61.833-33.833
                  C223.621,303.977,251.903,282.95,313.85,282.95 M313.85,279.95c-53.716,0-82.836,15.781-113.667,32.488
                  c-5.188,2.812-10.552,5.718-16.06,8.563c-14.752,7.62-24.912,13.504-33.875,18.695c-9.162,5.306-17.093,9.899-27.42,14.879
                  c-6.123,0.625-28.84,1.253-29.076,1.26l-9.034,0.248l7.389,5.204c1.285,0.905,31.786,22.242,58.547,28.469l1.042,0.243
                  l0.96-0.472c8.633-4.241,16.522-9.611,25.656-15.829c11.292-7.686,24.089-16.397,42.047-25.523
                  c36.248-18.421,72.334-20.551,96.325-20.551c1.995,0,4.097,0.014,6.614,0.044c29.794,0.354,65.933,3.04,108.066,20.276
                  c22.909,9.372,37.692,16.272,49.57,21.816c10.989,5.129,18.93,8.834,28.064,12.068l1.129,0.399l1.095-0.488
                  c22.072-9.848,32.674-22.811,33.114-23.358l3.884-4.823l-6.192-0.059c-0.079,0-7.939-0.074-14.251-0.074
                  c-2.969,0-5.099,0.016-6.455,0.047c-21.636-13.603-45.177-26.899-68.137-38.484c-2.947-1.487-5.791-2.942-8.566-4.363
                  c-31.747-16.245-54.684-27.981-119.505-30.457C321.297,280.023,317.507,279.95,313.85,279.95L313.85,279.95z"/>
              </g>
              <g>
                <path d="M330.745,432.5c-72.857-0.26-122.829-32.921-123.325-33.251l-1.812-1.204l1.77-1.265
                  c0.243-0.174,24.544-17.511,44.872-29.246l1.026-0.592l0.814,0.86c0.304,0.321,30.81,32.082,70.147,32.082
                  c0.899,0,1.799-0.016,2.708-0.05c41.9-1.543,71.832-32.879,72.129-33.195l0.729-0.775l56.285,24.957l-2.01,1.537
                  c-0.525,0.401-53.298,40.143-122.676,40.143L330.745,432.5z"/>
                <path fill="#80F852" d="M400.167,367.667l53,23.5c0,0-52.092,39.834-121.765,39.834c-0.218,0-0.435,0-0.652-0.001
                  c-73.25-0.262-122.5-33-122.5-33s24.25-17.333,44.75-29.167c0,0,30.761,32.551,71.237,32.551c0.917,0,1.836-0.017,2.763-0.051
                  C370,399.75,400.167,367.667,400.167,367.667 M399.438,364.062l-1.456,1.548l0,0c-0.294,0.312-29.883,31.208-71.093,32.725
                  c-0.879,0.032-1.771,0.049-2.652,0.049c-38.735,0-68.758-31.295-69.057-31.611l-1.627-1.722l-2.053,1.185
                  c-20.39,11.77-44.751,29.15-44.995,29.324l-3.54,2.53l3.624,2.409c0.514,0.341,12.837,8.463,34.37,16.705
                  c19.822,7.587,51.488,16.66,89.78,16.796l0.663,0.001c36.531,0,68.16-10.979,88.26-20.189
                  c21.787-9.984,34.784-19.847,35.327-20.262l4.021-3.074l-4.627-2.052l-53-23.5L399.438,364.062L399.438,364.062z"/>
              </g>
            </g>

            <g id="link">
              <text id="text6005" style="letter-spacing:0px;text-anchor:middle;word-spacing:0px;text-align:center;" font-weight="normal" xml:space="preserve" font-size="20px" font-style="normal" font-stretch="normal" font-variant="normal" y="315.41302" x="165.20259" font-family="Coda" line-height="125%" fill="#000000">{{link}}</text>
            </g>

            <g id="qrcode">
              <image id="image5996" xlink:href="{{qr_image}}" height="225" width="225" y="43" x="53"/>
            </g>
          </svg>
        </section>

      </div>
    </script>

    <br style="clear: both;" />
    <div id="images" style="margin-left: -1000000px; float: left;">
      <canvas id="frontimage" width="330px" height="495px"></canvas>
      <canvas id="backimage" width="330px" height="495px"></canvas>
    </div>

    <br />
    <br />
    <hr />

    <section id="details">
      <h2>Explain Yourself...</h2>
      <h2 class="subheading">Badge Builder is a tool for creating custom
        identification badges for Ingress Agents.</h2>
      <p>This easy to use tool will allow you to have a completely custom
      and community specific badge for Ingress Field Agents.  Place the
      appropriate information in each field, add you community emblem, and
      you'll have a completely custom badge showing support and pride for
      you Ingress faction and community.</p>
      <p>Print out the badges, cut them appropriately, and place them in a
      <a href="http://www.amazon.com/gp/product/B003VNOUBI/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003VNOUBI&linkCode=as2&tag=traeblain-20">laminated pouch</a>.
      Using a hole punch, pop a hole in the corner of the
      card, place the ID in your lanyard and you are ready to go.</p>
      <p>If you like this could be professionally printed and placed on a
      more durable ID badge, like <a href="http://www.amazon.com/gp/product/B0045TD22A/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0045TD22A&linkCode=as2&tag=traeblain-20">PVC badge</a>.</p>

      <h4>Problems Saving?</h4>
      <p>If the Save button is not working for you, then never fear.  By utilizing the Rotate Badges
        button, and zooming in (<kbd>Ctrl</kbd> + <kbd>+</kbd>) on the page
        you should be able to get a high quality screen capture of you badge.
        Use any screen capture tool (Windows Snipping Tool or <kbd>Command</kbd>
        + <kbd>Shift</kbd> + <kbd>3</kbd> for MacOS).</p>

      <h3>Help Out</h3>
      <p>This project is completely open source and free use and development.
      It was, in fact, heavily inspired by (but not directly derivative of)
      <a href="http://therealklanni.github.io/badger/">Badger</a>, an open
      source project itself.  A special thanks to that effort for inspiring
      this one.</p>
      <p>How can you contribute?
      <ul>
        <li>Design Logos</li>
        <li><a href="https://bitbucket.org/bttl/ingress-stuff/issues/new">Submit an Enhancement Request</a></li>
        <li>If something doesn't work, <a href="https://bitbucket.org/bttl/ingress-stuff/issues/new">Submit a Bug</a></li>
        <li><a href="https://bitbucket.org/bttl/ingress-stuff/follow">Watch</a>,
        <a href="Fork">Fork</a>, or <a href="https://bitbucket.org/bttl/ingress-stuff/src">View Source</a>
        for this project.</li>
        <li>Want
      </ul>
      </p>
      <p><strong>Helpful information....</strong>
        <ol id="helps">
          <li id="helps1" class="none"><a name="cell"></a>If you don't know which cell you primarily operate,
            <a href="https://ingress-cells.appspot.com/">Search Here</a> to find out.</li>
          <li id="helps2" class="none"><a name="links"></a>If you need a shorter link, try
            <a href="https://bit.ly/">Bit.ly</a>.</li>
          <li id="helps3" class="none"><a name="image"></a>Images are resized to approx. 200px X 200px.
            The badge is scalable, so for best quality at scale use a larger
            square image.</li>
          <li id="helps4" class="none"><a name="qr"></a>The best QR Code generator is available at
            <a href="http://www.unitaglive.com/qrcode">Unitag</a>.  Remember to
            turn off the background for transparancy and test the readability of
            you code before using.</li>
        </ol>
      </p>
    </section>

    <section id="resist" class="text-centered">
      <span class="image-container">
        <a href="http://dfwresistance.us"><img src="images/ingress-social-your-turn.png" style="width: 200px; height 200px;" /></a>
      </span>
    </section>

    <footer>
      <p class="text-right">&copy; 2014 <a href="http://traeblain.com/">Trae Blain</a>, All Rights Reserved.  Source code available under <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
    </footer>

  </div> <!-- end content -->

  <script src="js/ractive.min.js"></script>
  <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script>
  <script src="js/app.js"></script>

</body>
</html>